#navigation {
  margin: 1em 0;
}

button {
  padding: 0.5em 1em;
  margin-right: 1em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

#exercise-container {
  margin-top: 1em;
  padding: 1em;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}
#navigation button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #4caf50; /* Color de fondo verde */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#navigation button:hover {
  background-color: #45a049; /* Color al pasar el ratón */
}

#navigation a {
  text-decoration: none;
  color: white; /* Color del texto del enlace */
}
