form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: stretch;
}
button {
  height: 40px;
  background-color: #5cb9e7;
  color: white;
  border-color: #2283b4;
  font-size: large;
}
